---
import ButtonLanding from "../components/ui/ButtonLanding.astro";
---

<div class="grid w-full h-auto grid-cols-5 gap-4">
  <div
    class="flex flex-col items-center justify-center h-full gap-4 p-4 bg-slate-200 dark:bg-neutral-950 rounded-xl"
  >
    <h1 class="text-xl font-bold dark:text-white">PizzaUp</h1>
    <p class="text-base">
      Una landing page ideal para
      <span class="font-bold">pizzerías</span>
      que buscan atraer más clientes y mostrar su menú de forma visual y atractiva.
    </p>

    <a href="/PizzaUp">
      <ButtonLanding />
    </a>
  </div>

  <div class="col-span-2">
    <img
      src="/Image/PizzaUp/BackgroundPizzaUp.webp"
      alt="imgN3"
      class="inset-0 object-cover w-full h-full transition-all duration-300 rounded-xl group-hover:opacity-70"
    />
  </div>

  <div class="relative col-span-2 group">
    <img
      src="/Image/GYM/BackgroundGym.webp"
      alt="imgN4"
      class="inset-0 object-cover w-full h-full transition-all duration-300 rounded-xl group-hover:opacity-70"
    />

    <div
      class="absolute w-full h-full bottom-0 left-0 flex flex-col text-center items-center rounded-xl justify-center gap-2 backdrop-blur-[2px] bg-black/40 p-4 m-auto text-white z-10 opacity-0 group-hover:opacity-100 transition-all duration-300"
    >
      <h1 class="text-xl font-bold md:text-2xl">GYM</h1>

      <p class="text-base">
        Landing page pensada para
        <span class="font-bold">gimnasios</span>
        que quieren promocionar sus servicios, destacar sus entrenadores y captar
        nuevos miembros.
      </p>

      <a href="/GYM">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div class="relative col-span-2 group">
    <img
      src="/Image/MarketingAgency/MarketingAgency.webp"
      alt="PigBank"
      class="inset-0 object-cover w-full h-full transition-all duration-300 rounded-xl group-hover:opacity-70"
    />

    <div
      class="absolute w-full h-full bottom-0 left-0 flex flex-col text-center items-center rounded-xl justify-center gap-2 backdrop-blur-[2px] bg-black/40 p-4 m-auto text-white z-10 opacity-0 group-hover:opacity-100 transition-all duration-300"
    >
      <h1 class="text-xl font-bold md:text-2xl">Marketing Agency</h1>

      <p class="text-base">
        Diseñada para
        <span class="font-bold">agencias de marketing digital</span>
        que necesitan una presentación profesional para captar clientes y mostrar
        su portafolio.
      </p>

      <a href="/MarketingAgency">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div class="col-span-2">
    <img
      src="/Image/PigBank/PigBankBG.webp"
      alt="imgN3"
      class="inset-0 object-cover w-full h-full transition-all duration-300 rounded-xl group-hover:opacity-70"
    />
  </div>

  <div
    class="flex flex-col items-center justify-center h-full gap-4 p-4 bg-slate-200 dark:bg-neutral-950 rounded-xl"
  >
    <h1 class="text-xl font-bold dark:text-white">Pig Bank</h1>
    <p class="text-base">
      Una landing para
      <span class="font-bold">bancos o fintechs</span>
      que desean transmitir confianza y presentar sus productos financieros de forma
      clara.
    </p>

    <a href="/PigBank">
      <ButtonLanding />
    </a>
  </div>

  <div class="relative overflow-hidden text-white">
    <img
      src="/Image/GoodTrip/GoodTrip.webp"
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 m-4 h-full max-h-[92.5%] px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Good Trip</h1>

      <p class="py-2 text-base">
        Landing enfocada en
        <span class="font-bold">agencias de viaje</span>
        que buscan inspirar a sus clientes y mostrar sus paquetes turísticos de manera
        atractiva.
      </p>

      <a href="/GoodTrip">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div class="relative col-span-2 group">
    <img
      src="/Image/CooktopiaShop/BackgroundCooktopiaShop.webp"
      alt="PigBank"
      class="inset-0 object-cover w-full h-full transition-all duration-300 rounded-xl group-hover:opacity-70"
    />

    <div
      class="absolute w-full h-full bottom-0 left-0 flex flex-col text-center items-center rounded-xl justify-center gap-2 backdrop-blur-[2px] bg-black/40 p-4 m-auto text-white z-10 opacity-0 group-hover:opacity-100 transition-all duration-300"
    >
      <h1 class="text-xl font-bold md:text-2xl">Cooktopia Shop</h1>

      <p class="text-base">
        Landing page pensada para una
        <span class="font-bold">tienda de artículos de cocina</span>
        que buscan vender sus productos de forma moderna y organizada.
      </p>

      <a
        href="https://cooktopiashop.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div class="relative col-span-2 overflow-hidden text-white">
    <img
      src="/Image/DreamHouse/BackgroundDreamHouse.webp"
      alt="imgN4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
    />
    <div
      class="relative z-10 flex flex-col justify-center items-center gap-4 m-4 h-full max-h-[92.5%] px-4 py-8 backdrop-blur-[2px] bg-black/40 rounded-2xl"
    >
      <h1 class="text-2xl font-bold">Dream House</h1>

      <p class="py-2 text-base">
        Ideal para
        <span class="font-bold">agencias inmobiliarias</span>
        que quieren mostrar propiedades destacadas y captar nuevos compradores o arrendatarios.
      </p>

      <a href="/DreamHouse">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <!-- NEXT LANDING -->

  <div class="relative col-span-2 group">
    <img
      src="/Image/Flashing/flashing.webp"
      alt="PigBank"
      class="inset-0 object-cover w-full h-full transition-all duration-300 rounded-xl group-hover:opacity-70"
    />

    <div
      class="absolute w-full h-full bottom-0 left-0 flex flex-col text-center items-center rounded-xl justify-center gap-2 backdrop-blur-[2px] bg-black/40 p-4 m-auto text-white z-10 opacity-0 group-hover:opacity-100 transition-all duration-300"
    >
      <h1 class="text-xl font-bold md:text-2xl">Flashing</h1>

      <p class="text-base">
        Landing page pensada para
        <span class="font-bold"
          >empresas que organizan convenciones, encuentros o experiencias en
          vivo,</span
        >
        Ideal para negocios que buscan mostrar su profesionalismo.
      </p>

      <a href="/flashing">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div class="col-span-2">
    <img
      src="/Image/Shinrai/Shinrai.webp"
      alt="imgN3"
      class="inset-0 object-cover w-full h-full transition-all duration-300 rounded-xl group-hover:opacity-70"
    />
  </div>

  <div
    class="flex flex-col items-center justify-center h-full gap-4 p-4 bg-slate-200 dark:bg-neutral-950 rounded-xl"
  >
    <h1 class="text-xl font-bold dark:text-white">Shinrai</h1>
    <p class="text-base">
      Landing page pensada para
      <span class="font-bold"> academias de Karate</span>
      o defensa personal que desean transmitir disciplina, respeto y confianza.
    </p>
    <a href="/shinrai">
      <ButtonLanding />
    </a>
  </div>

  <div
    class="flex flex-col items-center justify-center h-full gap-4 p-4 bg-slate-200 dark:bg-neutral-950 rounded-xl"
  >
    <h1 class="text-xl font-bold dark:text-white">Morgana</h1>
    <p class="text-base">
      Pensada para
      <span class="font-bold">concesionarias de autos</span>
      que quieren presentar su catálogo de vehículos y atraer potenciales compradores.
    </p>

    <a href="/morgana">
      <ButtonLanding />
    </a>
  </div>

  <div class="col-span-2">
    <img
      src="/Image/Morgana/Morgana.webp"
      alt="imgN3"
      class="inset-0 object-cover w-full h-full transition-all duration-300 rounded-xl group-hover:opacity-70"
    />
  </div>

  <div class="relative col-span-2 group">
    <img
      src="/Image/GoldTeeth/GoldTeeth.webp"
      alt="imgN4"
      class="inset-0 object-cover w-full h-full transition-all duration-300 rounded-xl group-hover:opacity-70"
    />

    <div
      class="absolute w-full h-full bottom-0 left-0 flex flex-col text-center items-center rounded-xl justify-center gap-2 backdrop-blur-[2px] bg-black/40 p-4 m-auto text-white z-10 opacity-0 group-hover:opacity-100 transition-all duration-300"
    >
      <h1 class="text-xl font-bold md:text-2xl">Gold Teeth</h1>

      <p class="text-base">
        Landing page ideal para
        <span class="font-bold">clínicas dentales</span>
        que desean ofrecer sus servicios, generar confianza y captar nuevos pacientes.
      </p>

      <a href="/goldteeth">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div class="relative col-span-2 group">
    <img
      src="/Image/CampingNight/CampingNight.webp"
      alt="campingnight"
      class="inset-0 object-cover w-full h-full transition-all duration-300 rounded-xl group-hover:opacity-70"
    />

    <div
      class="absolute w-full h-full bottom-0 left-0 flex flex-col text-center items-center rounded-xl justify-center gap-2 backdrop-blur-[2px] bg-black/40 p-4 m-auto text-white z-10 opacity-0 group-hover:opacity-100 transition-all duration-300"
    >
      <h1 class="text-xl font-bold md:text-2xl">Camping Night</h1>

      <p class="text-base">
        Diseñada para empresas de
        <span class="font-bold">campamentos</span>
        que buscan promocionar experiencias al aire libre y atraer a los amantes de
        la naturaleza.
      </p>

      <a href="/campingnight">
        <ButtonLanding />
      </a>
    </div>
  </div>

  <div class="col-span-2">
    <img
      src="/Image/StarIA/StarIA.webp"
      alt="alt"
      class="inset-0 object-cover w-full h-full transition-all duration-300 rounded-xl group-hover:opacity-70"
    />
  </div>

  <div
    class="flex flex-col items-center justify-center h-full gap-4 p-4 bg-slate-200 dark:bg-neutral-950 rounded-xl"
  >
    <h1 class="text-xl font-bold dark:text-white">StarIA</h1>

    <p class="text-base">
      Agente conversacional impulsado por
      <span class="font-bold">inteligencia artificial</span>, Ideal para
      equipos, negocios o profesionales que buscan integrar un agente
      conversacional en sus plataformas.
    </p>

    <a
      href="https://staria.netlify.app/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <ButtonLanding />
    </a>
  </div>
</div>
