---
import { Image } from "astro:assets";
import BackgroundGoldTeeth from "../../../../public/Image/GoldTeeth/Background.webp";
import img1 from "../../../../public/Image/GoldTeeth/img1.webp";
import img2 from "../../../../public/Image/GoldTeeth/img2.webp";
import img3 from "../../../../public/Image/GoldTeeth/img3.webp";
import Modal from "../components/ui/Modal";
---

<div class="relative flex flex-col items-center justify-center">
  <Image
    src={BackgroundGoldTeeth}
    alt="alt"
    class="absolute inset-0 object-cover object-center w-full h-full"
    width={1920}
    height={1080}
    sizes="100vw"
    widths={[640, 1024, 1600, 1920]}
  />

  <dv
    class="relative flex flex-col items-center justify-center gap-4 py-8 text-center text-slate-100"
  >
    {/*Content */}
    <div
      class="flex flex-col md:flex-row justify-center m-auto gap-8 p-4 max-w-[80rem]"
    >
      <div class="items-center justify-center hidden grid-cols-2 gap-2 md:grid">
        <div class="flex flex-col items-end gap-2">
          <Image
            src={img1}
            alt="img1"
            class="object-contain rounded-t-full w-60 h-60"
            width={800}
            height={800}
          />

          <Image
            src={img2}
            alt="img2"
            class="object-contain rounded-b-full w-60 h-60"
            width={800}
            height={800}
          />
        </div>
        <div class="flex">
          <Image
            src={img3}
            alt="img3"
            class="object-contain rounded-t-full w-60 h-60"
            width={800}
            height={800}
          />
        </div>
      </div>

      <div class="flex flex-col items-center justify-center gap-2">
        <h1 class="text-4xl font-bold text-start lg:text-8xl">Sonríe mejor</h1>
        <h1 class="text-4xl font-bold text-start lg:text-8xl">con nosotros</h1>

        <div class="flex flex-col gap-2">
          <p class="text-base max-w-[25rem] text-center md:text-lg">
            Nos dedicamos a brindarle a usted y a su familia atención dental de
            máxima calidad en un entorno cómodo y acogedor.
          </p>

          <Modal client:load />

          <div>
            <p class="">⭐⭐⭐⭐⭐(4.8)</p>
            <p class="">30K+Calificaciones en Google</p>
          </div>
        </div>
      </div>
    </div>
  </dv>
</div>
