---
import { Image } from "astro:assets";
import BackgroundGoldTeeth from "../../../../public/Image/GoldTeeth/Background.webp";
---

<div class="flex flex-col items-center justify-center gap-4">
  <h1 class="text-xl font-bold md:text-2xl">
    Cuidamos tu sonrisa con excelencia y compromiso
  </h1>
  <p class="text-base md:text-lg max-w-[40rem]">
    En Gold Teeth, combinamos tecnología avanzada, profesionales altamente
    capacitados y un compromiso total con la salud bucal. Desde la primera
    consulta hasta tu tratamiento final, te garantizamos una experiencia segura,
    cómoda y de calidad.
  </p>

  <div class="grid w-full grid-cols-1 gap-4 sm:grid-cols-2 md:hidden">
    <!-- -->
    <div class="relative rounded-lg sm:col-span-2">
      <Image
        src={BackgroundGoldTeeth}
        alt="alt"
        class="absolute inset-0 object-cover object-center w-full h-full rounded-lg"
        width={1920}
        height={1080}
        sizes="100vw"
        widths={[640, 1024, 1600, 1920]}
      />

      <div
        class="relative z-10 flex flex-col items-start justify-start gap-4 p-4"
      >
        <h1 class="text-lg font-bold md:text-xl text-slate-100">
          Seguridad e higiene en cada tratamiento
        </h1>

        <button
          class="p-2 transition-all duration-700 ease-out rounded-lg text-slate-100 dark:text-zinc-950 bg-rose-600 hover:bg-rose-800 dark:bg-slate-100 dark:hover:bg-beige-100"
        >
          Agenda tu cita
        </button>
      </div>
    </div>

    <div
      class="flex flex-col items-start justify-start gap-4 p-4 border rounded-lg border-rose-800 dark:border-beige-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Equipos y materiales esterilizados
      </h1>
      <p class="text-base md:text-lg">
        Todos nuestros instrumentos pasan por rigurosos procesos de limpieza y
        esterilización. Mantenemos un ambiente seguro tanto para ti como para
        nuestro equipo, siguiendo los más altos estándares de salud e higiene
        dental.
      </p>
    </div>

    <div
      class="flex flex-col items-start justify-start gap-4 p-4 border rounded-lg border-rose-800 dark:border-beige-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Profesionales calificados y certificados
      </h1>
      <p class="text-base md:text-lg">
        Nuestro equipo está formado por odontólogos especializados en distintas
        áreas, comprometidos con brindar atención personalizada, ética y de alta
        calidad en cada procedimiento.
      </p>
    </div>

    <div
      class="flex flex-col items-start justify-start gap-4 p-4 border rounded-lg border-rose-800 dark:border-beige-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Tecnología moderna y tratamientos innovadores
      </h1>
      <p class="text-base md:text-lg">
        Contamos con equipos de última generación que nos permiten realizar
        diagnósticos precisos y tratamientos efectivos, reduciendo tiempos y
        molestias para nuestros pacientes.
      </p>
    </div>

    <div
      class="flex flex-col items-start justify-start gap-4 p-4 border rounded-lg border-rose-800 dark:border-beige-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Atención centrada en el paciente
      </h1>
      <p class="text-base md:text-lg">
        En Gold Teeth nos enfocamos en tu bienestar. Escuchamos tus necesidades,
        explicamos cada paso del proceso y te acompañamos para que tu visita sea
        siempre una experiencia agradable y sin estrés.
      </p>
    </div>
  </div>

  <div class="hidden w-full grid-cols-3 gap-4 md:grid">
    <div class="relative rounded-lg sm:col-span-2">
      <Image
        src={BackgroundGoldTeeth}
        alt="alt"
        class="absolute inset-0 object-cover object-center w-full h-full rounded-lg"
        width={1920}
        height={1080}
        sizes="100vw"
        widths={[640, 1024, 1600, 1920]}
      />

      <div
        class="relative z-10 flex flex-col items-start justify-start gap-4 p-4"
      >
        <h1 class="text-3xl font-bold xl:5xl text-slate-100">
          Seguridad e higiene en cada tratamiento
        </h1>

        <button
          class="p-2 transition-all duration-700 ease-out rounded-lg text-slate-100 dark:text-zinc-950 bg-rose-600 hover:bg-rose-800 dark:bg-slate-100 dark:hover:bg-beige-100"
        >
          Agenda tu cita
        </button>
      </div>
    </div>

    <div
      class="flex flex-col items-start justify-start gap-4 p-4 border rounded-lg border-rose-800 dark:border-beige-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Equipos y materiales esterilizados
      </h1>
      <p class="text-base md:text-lg">
        Nuestro equipo está formado por odontólogos especializados en distintas
        áreas, comprometidos con brindar atención personalizada, ética y de alta
        calidad en cada procedimiento.
      </p>
    </div>

    <div
      class="flex flex-col items-start justify-start gap-4 p-4 border rounded-lg border-rose-800 dark:border-beige-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Profesionales calificados y certificados
      </h1>
      <p class="text-base md:text-lg">
        Nuestro equipo está formado por odontólogos especializados en distintas
        áreas, comprometidos con brindar atención personalizada, ética y de alta
        calidad en cada procedimiento.
      </p>
    </div>

    <div
      class="flex flex-col items-start justify-start gap-4 p-4 border rounded-lg border-rose-800 dark:border-beige-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Tecnología moderna y tratamientos innovadores
      </h1>
      <p class="text-base md:text-lg">
        Contamos con equipos de última generación que nos permiten realizar
        diagnósticos precisos y tratamientos efectivos, reduciendo tiempos y
        molestias para nuestros pacientes.
      </p>
    </div>

    <div
      class="flex flex-col items-start justify-start gap-4 p-4 border rounded-lg border-rose-800 dark:border-beige-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Atención centrada en el paciente
      </h1>
      <p class="text-base md:text-lg">
        En Gold Teeth nos enfocamos en tu bienestar. Escuchamos tus necesidades,
        explicamos cada paso del proceso y te acompañamos para que tu visita sea
        siempre una experiencia agradable y sin estrés.
      </p>
    </div>
  </div>
</div>
