---
---

 <footer class="w-full p-6 text-white bg-black">
      <div class="max-w-6xl mx-auto">

        <p class="mb-4 text-lg leading-relaxed">
          <span class="font-bold">Dream House</span> no es
          una Agencia real y fue creado únicamente con fines de desarrollo y
          diseño. Además, yo diseñé el logotipo de{" "}
          <span class="font-bold">Dream House</span> y utilicé imágenes de
          uso libre en su construcción.
        </p>

        <p class="mb-4 text-lg leading-relaxed">
          Esta ha sido una de las landing pages de{" "}
          <span class="font-bold">LandingMine</span>
        </p>
      </div>

      <div class="mt-8 border-t-2 border-white opacity-50"></div>

      <p class="mt-6 text-sm text-center">
        © 2026 Dream House.{" "}
        <a
          href="/"
          class="ml-1 font-bold transition duration-300 ease-in-out hover:text-cyan-400"
        >
          Regresar a LandingMine
        </a>
      </p>
    </footer>