---
import { Image } from "astro:assets";
import Background from "../../../../public/Image/DreamHouse/Background.webp";
import DreamHouseLogo from "../../../../public/Image/DreamHouse/DreamHouseLogo.webp";
import MobileMenu from "../../GlobalComponents/MobileMenu";
import DarkMode from "../../GlobalComponents/DarkMode";
import Search from "../assets/svg/Search";
---

<div class="relative w-full overflow-hidden h-dvh">
  <Image
    src={Background}
    alt=""
    class="absolute inset-0 flex flex-col object-cover object-center w-full h-full object-fixed"
    width={1920}
    height={1080}
    sizes="100vw"
    widths={[640, 1024, 1600, 1920]}
  />

  <div
    class="absolute bottom-0 left-0 flex flex-col items-center justify-center w-full h-full bg-black/60"
  >
  </div>

  <div
    class="relative flex flex-col px-8 py-12 items-center h-full justify-between w-full m-auto max-w-[100rem]"
  >
    <div
      class="grid items-center justify-center w-full h-auto grid-cols-2 gap-4 md:max-h-40 md:grid-cols-3"
    >
      <div class="flex justify-start md:justify-center md:order-2">
        <Image
          src={DreamHouseLogo}
          alt="DreamHouseLogo"
          class="object-contain w-40 h-auto cursor-pointer md:w-60"
          width={800}
          height={800}
        />
      </div>

      <div
        class="md:order-1 hidden md:flex items-center justify-center bg-black/20 md:bg-transparent md:backdrop-blur-[0px] backdrop-blur-[2px] rounded-lg"
      >
        <MobileMenu
          textColor="text-slate-100 transition-all duration-900 ease-out"
          hoverColor="hover:text-slate-300"
          bgColor=""
          invertColor="text-white"
          client:load
        />
      </div>

      <div class="flex justify-end md:order-3">
        <DarkMode bgColor="text-slate-100" client:load />
      </div>

      <div
        class="md:hidden w-fit mx-auto col-span-2 border-slate-100 border-2 backdrop-blur-[4px] rounded-lg"
      >
        <MobileMenu
          textColor="text-slate-100 transition-all duration-900 ease-out"
          hoverColor="hover:text-cyan-400"
          bgColor=""
          invertColor="text-white"
          client:load
        />
      </div>
    </div>

    <div
      class="flex flex-col items-center justify-center max-w-3xl gap-6 mx-auto text-center md:flex-1"
    >
      <h1
        class="text-2xl font-bold leading-tight md:text-4xl xl:text-6xl text-cyan-400"
      >
        Encuentra la casa de tus sueños
      </h1>

      <div
        class="w-full p-4 rounded-2xl backdrop-blur-[2px] border border-slate-100 bg-black/20 text-slate-100 max-w-[60rem]"
      >
        <div class="flex flex-col justify-between gap-2">
          <div class="flex flex-col">
            <input
              class="p-1 text-sm border rounded-lg bg-black/20 border-slate-100"
              type="text"
              placeholder="Ingresa tu ubicación"
            />
          </div>

          <div class="flex flex-col">
            <input
              class="p-1 text-sm border rounded-lg bg-black/20 border-slate-100"
              type="text"
              placeholder="Tipo de propiedad"
            />
          </div>

          <div class="flex flex-col">
            <input
              class="p-1 text-sm border rounded-lg bg-black/20 border-slate-100"
              type="number"
              placeholder="Precio máximo"
            />
          </div>

          <button
            class="flex items-center justify-center w-full h-auto gap-4 p-2 transition-all duration-700 ease-out bg-cyan-400 rounded-2xl hover:bg-cyan-600"
          >
            <Search width="30" height="30" />
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
