---
import IconDetails from "../components/ui/IconDetails.astro";
---

<div class="flex flex-col items-center justify-center w-full gap-1">
  <div class="flex flex-col items-center justify-center w-full gap-4 mt-7">
    <!-- 
    I couldn't find how to optimize the images with Image because 
    it would be better to leave them that way.
    -->

    <!-- 
    The problem is that since the image is inside Details, 
    when you close the details it appears blank, a half effect is achieved 
     -->

    <details
      class="relative w-full mx-auto overflow-hidden transition-all duration-800 rounded-xl text-slate-100 group open:pb-3"
      style="background-image: url('/Image/CampingNight/img8.webp'); background-size: cover; background-position: center;"
    >
      <summary
        class="relative z-10 flex items-center justify-between p-4 text-lg font-bold cursor-pointer select-none"
      >
        <span>Zona de Inscripción</span>

        <!-- Icon + / - -->
        <IconDetails />
      </summary>

      <div
        class="relative z-10 overflow-hidden transition-all duration-500 max-h-0 group-open:max-h-96"
      >
        <p class="max-w-2xl px-4 pb-4 leading-relaxed text-slate-100">
          Regístrate fácilmente en nuestra acogedora cabaña de inscripción.
          Nuestro equipo te guiará para que disfrutes al máximo tu aventura.
        </p>
      </div>
    </details>

    <details
      class="relative w-full mx-auto overflow-hidden transition-all duration-800 rounded-xl text-slate-100 group open:pb-3"
      style="background-image: url('/Image/CampingNight/img9.webp'); background-size: cover; background-position: center;"
    >
      <summary
        class="relative z-10 flex items-center justify-between p-4 text-lg font-bold cursor-pointer select-none"
      >
        <span>¡Bienvenido a Camping Night!</span>

        <!-- Icon + / - -->
        <IconDetails />
      </summary>

      <div
        class="relative z-10 overflow-hidden transition-all duration-500 max-h-0 group-open:max-h-96"
      >
        <p class="max-w-2xl px-4 pb-4 leading-relaxed text-slate-100">
          Tu aventura comienza aquí, en nuestra acogedora recepción dentro de la
          cabaña principal. Tal como en un hotel, te registramos para
          asegurarnos de que tu estadía sea segura, organizada y 100%
          placentera. ¡Este es tu primer paso hacia una experiencia inolvidable!
        </p>
      </div>
    </details>

    <details
      class="relative w-full mx-auto overflow-hidden transition-all duration-800 rounded-xl text-slate-100 group open:pb-3"
      style="background-image: url('/Image/CampingNight/img10.webp'); background-size: cover; background-position: center;         class="
    >
      <summary
        class="relative z-10 flex items-center justify-between p-4 text-lg font-bold cursor-pointer select-none"
      >
        <span>Comodidad y limpieza, siempre cerca</span>

        <!-- Icon + / - -->
        <IconDetails />
      </summary>

      <div
        class="relative z-10 overflow-hidden transition-all duration-500 max-h-0 group-open:max-h-96"
      >
        <p class="max-w-2xl px-4 pb-4 leading-relaxed text-slate-100">
          Nuestros baños están dentro de la cabaña principal, mantenidos con
          altos estándares de higiene. Sabemos lo importante que es sentirse
          cómodo en medio de la naturaleza, por eso te ofrecemos instalaciones
          limpias y bien cuidadas.
        </p>
      </div>
    </details>

    <details
      class="relative w-full mx-auto overflow-hidden transition-all duration-800 rounded-xl text-slate-100 group open:pb-3"
      style="background-image: url('/Image/CampingNight/img11.webp'); background-size: cover; background-position: center;         class="
    >
      <summary
        class="relative z-10 flex items-center justify-between p-4 text-lg font-bold cursor-pointer select-none"
      >
        <span>¿Olvidaste algo? ¡No te preocupes!</span>

        <!-- Icon + / - -->
        <IconDetails />
      </summary>

      <div
        class="relative z-10 overflow-hidden transition-all duration-500 max-h-0 group-open:max-h-96"
      >
        <p class="max-w-2xl px-4 pb-4 leading-relaxed text-slate-100">
          Dentro de la cabaña encontrarás nuestra pequeña tienda con todo lo
          esencial para acampar: linternas, snacks, carbón, repelente y mucho
          más. Todo lo necesario para que no te falte nada durante tu estadía.
        </p>
      </div>
    </details>

    <details
      class="relative w-full mx-auto overflow-hidden transition-all duration-800 rounded-xl text-slate-100 group open:pb-3"
      style="background-image: url('/Image/CampingNight/img12.webp'); background-size: cover; background-position: center;         class="
    >
      <summary
        class="relative z-10 flex items-center justify-between p-4 text-lg font-bold cursor-pointer select-none"
      >
        <span>La magia comienza al caer el sol</span>

        <!-- Icon + / - -->
        <IconDetails />
      </summary>

      <div
        class="relative z-10 overflow-hidden transition-all duration-500 max-h-0 group-open:max-h-96"
      >
        <p class="max-w-2xl px-4 pb-4 leading-relaxed text-slate-100">
          En esta área encontrarás mesas, parrillas y espacio para cocinar lo
          que más te guste. Cada noche encendemos una gran fogata central para
          compartir historias, reír juntos... ¡y preparar los clásicos s’mores
          al calor de las brasas!
        </p>
      </div>
    </details>
  </div>
</div>
