---
import { Image } from "astro:assets";
import ShadowsForestBackground from "../../../../public/Image/CampingNight/ShadowsForestBackground.webp";
---

<div class="relative flex flex-col items-center justify-center">
  <Image
    src={ShadowsForestBackground}
    alt="alt"
    class="absolute inset-0 w-full h-full object-center object-cover"
    width={1920}
    height={1080}
    sizes="100vw"
    widths={[640, 1024, 1600, 1920]}
  />

  <div
    class="relative flex flex-col items-center justify-center gap-2 px-4 py-20 text-center text-zinc-950 w-full max-w-[80rem]"
  >
    <h3 class="text-sm text-slate-50 md:text-base">
      Descubre un entorno seguro y preparado para tu aventura
    </h3>

    <h1 class="text-xl font-bold md:text-2xl text-slate-100">
      Instalaciones diseñadas para disfrutar sin preocupaciones
    </h1>

    <div
      class="grid items-start justify-center grid-cols-1 gap-4 mt-6 md:grid-cols-3"
    >
      <div
        class="flex flex-col items-start justify-center h-full gap-4 p-4 rounded-lg bg-slate-100/50"
      >
        <h1 class="text-xl font-bold md:text-2xl">Seguridad en cada rincón</h1>

        <p class="text-base md:text-lg">
          En Camping Night tu bienestar es lo más importante. Contamos con
          personal capacitado y vigilancia constante para garantizar una
          experiencia segura en cada actividad, tanto de día como de noche.
        </p>
      </div>

      <div
        class="flex flex-col items-start justify-center h-full gap-4 p-4 rounded-lg bg-slate-100/50"
      >
        <h1 class="text-xl font-bold md:text-2xl">
          Pet Friendly: comparte la aventura con tu mascota
        </h1>

        <p class="text-base md:text-lg">
          Sabemos que tu compañero de cuatro patas también es parte de la
          familia. Por eso, nuestras áreas y senderos están pensados para que
          disfrutes del campamento junto a tu mascota, con espacios amplios y
          seguros para ambos.
        </p>
      </div>

      <div
        class="flex flex-col items-start justify-center h-full gap-4 p-4 rounded-lg bg-slate-100/50"
      >
        <h1 class="text-xl font-bold md:text-2xl">
          Espacio natural y comodidad en equilibrio
        </h1>

        <p class="text-base md:text-lg">
          Disfruta de zonas amplias, limpias y bien señalizadas que conservan la
          esencia del entorno natural. Cada área está equipada para ofrecerte
          comodidad sin perder la conexión con la naturaleza que hace único a
          Camping Night.
        </p>
      </div>
    </div>
  </div>
</div>
