---
import { Image } from "astro:assets";
import img28 from "../../../../public/Image/Shinrai/img28.webp";
---

<div class="relative flex flex-col items-center justify-center">
  <Image
    src={img28}
    alt=""
    class="absolute inset-0 flex flex-col object-cover object-center w-full h-full object-fixed"
    width={1920}
    height={1080}
    sizes="100vw"
    widths={[640, 1024, 1600, 1920]}
  />

  <div
    class="absolute bottom-0 left-0 flex flex-col items-center justify-center w-full h-full backdrop-blur-[2px] bg-black/60"
  >
  </div>

  <dv
    class="relative flex flex-col items-center justify-center gap-2 px-4 py-20 text-center text-slate-100 w-full max-w-[80rem]"
  >
    <h3 class="text-sm md:text-base text-beige-200">
      Disciplina, respeto y confianza
    </h3>

    <h1 class="text-xl font-bold md:text-2xl">
      Formando el carácter a través del arte del Karate
    </h1>

    <div
      class="flex flex-col items-center justify-center w-full gap-2 px-4 py-8 mt-4 bg-emerald-800"
    >
      <p class="text-base md:text-lg w-full max-w-[40rem]">
        En <span class="font-bold">Shinrai</span>, enseñamos el <span
          class="font-bold">Karate-Do</span
        > como un camino de crecimiento personal y autocontrol.
      </p>
      <p class="text-base md:text-lg w-full max-w-[40rem]">
        Nuestras clases combinan la enseñanza tradicional japonesa con técnicas
        modernas para desarrollar la <span class="font-bold"
          >autodefensa, la concentración y la fortaleza interior.</span
        >
      </p>

      <p class="text-base md:text-lg w-full max-w-[40rem]">
        Contamos con <span class="font-bold"
          >instalaciones equipadas profesionalmente</span
        > y un equipo de instructores con experiencia en competencias <span
          class="font-bold">nacionales e internacionales</span
        >, dedicados a formar alumnos con valores, respeto y equilibrio.
      </p>
      <p class="text-base md:text-lg w-full max-w-[40rem]">
        Aquí, cada movimiento busca <span class="font-bold"
          >fortalecer el cuerpo y la mente</span
        >, encontrando en la calma el verdadero significado de la fuerza.
      </p>
    </div>
  </dv>
</div>
