---
import { Image } from "astro:assets";
import img1 from "../../../../public/Image/Shinrai/img1.webp";
import img2 from "../../../../public/Image/Shinrai/img2.webp";
---

<div class="grid items-center justify-center grid-cols-2 gap-4 md:grid-cols-3">
  <Image
    src={img1}
    alt="img1"
    class="order-1 object-contain w-40 sm:w-56 md:w-72 lg:w-80"
    width={800}
    height={800}
  />

  <div
    class="grid items-center order-3 grid-cols-3 col-span-2 gap-4 md:grid-cols-1 md:col-span-1 md:order-2"
  >
    <div class="w-full h-1 md:w-[4px] bg-slate-100 justify-self-center md:h-40">
    </div>
    <h1 class="text-2xl font-bold text-center text-slate-100 md:m-2">VS</h1>
    <div class="w-full h-1 md:w-[4px] bg-slate-100 justify-self-center md:h-40">
    </div>
  </div>

  <Image
    src={img2}
    alt="img2"
    class="order-2 object-contain w-40 sm:w-56 md:w-72 lg:w-80 md:order-3"
    width={800}
    height={800}
  />
</div>
