---
import { Image } from "astro:assets";
import img3 from "../../../../public/Image/Morgana/img3.webp";
import img4 from "../../../../public/Image/Morgana/img4.webp";
import img5 from "../../../../public/Image/Morgana/img5.webp";
---

<div
  class="grid items-center justify-center grid-cols-1 gap-2 text-slate-100 md:grid-cols-2 md:grid-rows-2"
>
  <div class="relative m-auto overflow-hidden">
    <Image
      src={img3}
      alt="img3"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={800}
    />
    <div
      class="relative z-10 flex flex-col items-center justify-center h-full gap-4 px-4 py-8 bg-black/60 rounded-2xl"
    >
      <div class="flex flex-col gap-2">
        <p class="text-base">
          Cada vehículo en Morgana está equipado con tecnología de punta y un
          diseño interior pensado para tu confort y seguridad.
        </p>

        <h1 class="text-xl font-bold">Más de 800 autos premium</h1>
        <p class="text-sm">Listos para conducir o personalizar a tu medida</p>
      </div>
    </div>
  </div>

  <div class="relative h-full m-auto overflow-hidden md:row-span-2">
    <Image
      src={img4}
      alt="img4"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={800}
    />
    <div
      class="relative z-10 flex flex-col items-center justify-center h-full gap-4 px-4 py-8 bg-black/60 rounded-2xl"
    >
      <div class="flex flex-col gap-2">
        <p class="text-base">
          Contamos con mantenimiento certificado y un equipo especializado que
          garantiza la calidad de cada vehículo antes de llegar a ti.
        </p>

        <h1 class="text-xl font-bold">+150 técnicos especializados</h1>
        <p class="text-sm">
          Supervisando cada entrega con estándares internacionales
        </p>
      </div>
    </div>
  </div>

  <div class="relative m-auto overflow-hidden">
   <Image
      src={img5}
      alt="img5"
      class="absolute inset-0 object-cover w-full h-full rounded-2xl"
      width={800}
      height={800}
    />
    <div
      class="relative z-10 flex flex-col items-center justify-center h-full gap-4 px-4 py-8 bg-black/60 rounded-2xl"
    >
      <div class="flex flex-col gap-2">
        <p class="text-base">
          Morgana ofrece una amplia selección de modelos disponibles para compra
          o alquiler, adaptados a cada necesidad y estilo de vida.
        </p>

        <h1 class="text-xl font-bold">Más de 1400 autos disponibles</h1>
        <p class="text-sm">
          Entre eléctricos, deportivos, SUV y compactos urbanos
        </p>
      </div>
    </div>
  </div>
</div>
