---

---

<div class="grid grid-cols-2 gap-4 md:grid-rows-5 md:grid-cols-3">
  <div class="relative col-span-2 group md:col-span-2">
    <img
      src="/Image/GoodTrip/argentina.webp"
      alt="alt"
      class="inset-0 object-cover w-full transition-all duration-300 h-96 rounded-xl"
    />

    <div
      class="absolute bottom-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full gap-2 p-4 m-auto text-center text-white transition-all duration-300 opacity-100 rounded-xl bg-black/60 xl:opacity-0 xl:group-hover:opacity-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Ritmo y Pasión en Buenos Aires
      </h1>

      <p class="text-sm md:text-base">
        Descubre la ciudad que nunca deja de bailar. Desde el imponente Obelisco
        hasta los barrios llenos de tango y sabor, Buenos Aires te invita a
        vivir una experiencia llena de arte, historia y energía argentina.
      </p>
    </div>
  </div>

  <div class="relative group md:row-span-2 md:col-start-3">
    <img
      src="/Image/GoodTrip/eeuu.webp"
      alt="alt"
      class="inset-0 object-cover h-[28rem] md:h-full transition-all duration-300 w-96 rounded-xl"
    />

    <div
      class="absolute bottom-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full gap-2 p-4 m-auto text-center text-white transition-all duration-300 opacity-100 rounded-xl bg-black/60 xl:opacity-0 xl:group-hover:opacity-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Aventura Urbana en Nueva York
      </h1>

      <p class="text-sm md:text-base">
        Vive la ciudad que marca el ritmo del mundo. Luces, rascacielos y la
        energía de Times Square te acompañarán en una experiencia que combina lo
        moderno con lo icónico. ¡La Gran Manzana te espera!
      </p>
    </div>
  </div>

  <div class="relative group md:row-span-2 md:row-start-2">
    <img
      src="/Image/GoodTrip/england.webp"
      alt="alt"
      class="inset-0 object-cover h-[28rem] md:h-full transition-all duration-300 w-96 rounded-xl"
    />

    <div
      class="absolute bottom-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full gap-2 p-4 m-auto text-center text-white transition-all duration-300 opacity-100 rounded-xl bg-black/60 xl:opacity-0 xl:group-hover:opacity-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Encanto Histórico en Londres
      </h1>

      <p class="text-sm md:text-base">
        Desde el majestuoso Big Ben hasta los puentes sobre el Támesis, Londres
        mezcla historia, cultura y modernidad en cada esquina. Una aventura
        elegante y llena de descubrimientos te aguarda.
      </p>
    </div>
  </div>

  <div class="relative group col-span-2 md:col-span-1 md:row-start-2;">
    <img
      src="/Image/GoodTrip/france.webp"
      alt="alt"
      class="inset-0 object-cover w-full transition-all duration-300 h-96 rounded-xl"
    />

    <div
      class="absolute bottom-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full gap-2 p-4 m-auto text-center text-white transition-all duration-300 opacity-100 rounded-xl bg-black/60 xl:opacity-0 xl:group-hover:opacity-100"
    >
      <h1 class="text-lg font-bold md:text-xl">Romance y Magia en París</h1>

      <p class="text-sm md:text-base">
        Vive el encanto eterno de la Ciudad de la Luz. Contempla la Torre
        Eiffel, pasea por el Sena y déjate llevar por el arte, la moda y la
        gastronomía francesa. París siempre es una buena idea.
      </p>
    </div>
  </div>

  <div class="relative group md:col-span-2 md:col-start-2 md:row-start-3">
    <img
      src="/Image/GoodTrip/guatemala.webp"
      alt="alt"
      class="inset-0 object-cover w-full transition-all duration-300 h-96 rounded-xl"
    />

    <div
      class="absolute bottom-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full gap-2 p-4 m-auto text-center text-white transition-all duration-300 opacity-100 rounded-xl bg-black/60 xl:opacity-0 xl:group-hover:opacity-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Tesoros Coloniales en Antigua
      </h1>

      <p class="text-sm md:text-base">
        Recorre calles empedradas, coloridas fachadas y monumentos que cuentan
        siglos de historia. El Arco de Santa Catalina te da la bienvenida a una
        aventura cultural en el corazón de Guatemala.
      </p>
    </div>
  </div>

  <div class="relative group md:col-span-2 md:row-start-4">
    <img
      src="/Image/GoodTrip/italy.webp"
      alt="alt"
      class="inset-0 object-cover w-full transition-all duration-300 h-96 rounded-xl"
    />

    <div
      class="absolute bottom-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full gap-2 p-4 m-auto text-center text-white transition-all duration-300 opacity-100 rounded-xl bg-black/60 xl:opacity-0 xl:group-hover:opacity-100"
    >
      <h1 class="text-lg font-bold md:text-xl">Aventura Imperial en Roma</h1>

      <p class="text-sm md:text-base">
        Explora el Coliseo, las plazas llenas de vida y los sabores que hicieron
        famosa a Italia. Roma es una experiencia donde cada rincón revive la
        grandeza del pasado.
      </p>
    </div>
  </div>

  <div
    class="relative col-span-2 group md:col-span-1 md:row-span-2 md:col-start-3 md:row-start-4"
  >
    <img
      src="/Image/GoodTrip/Netherlands.webp"
      alt="alt"
      class="inset-0 object-cover w-full transition-all duration-300 h-96 md:h-full rounded-xl"
    />

    <div
      class="absolute bottom-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full gap-2 p-4 m-auto text-center text-white transition-all duration-300 opacity-100 rounded-xl bg-black/60 xl:opacity-0 xl:group-hover:opacity-100"
    >
      <h1 class="text-lg font-bold md:text-xl">
        Canales y Libertad en Ámsterdam
      </h1>

      <p class="text-sm md:text-base">
        Navega por sus canales, descubre su arte y disfruta de una ciudad
        vibrante y moderna. Ámsterdam es el destino ideal para quienes buscan
        cultura, diversión y un toque bohemio.
      </p>
    </div>
  </div>

  <div class="relative group md:row-start-5">
    <img
      src="/Image/GoodTrip/spain.webp"
      alt="alt"
      class="inset-0 object-cover transition-all duration-300 w-96 h-96 rounded-xl"
    />

    <div
      class="absolute bottom-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full gap-2 p-4 m-auto text-center text-white transition-all duration-300 opacity-100 rounded-xl bg-black/60 xl:opacity-0 xl:group-hover:opacity-100"
    >
      <h1 class="text-lg font-bold md:text-xl">Cultura y Estilo en Madrid</h1>

      <p class="text-sm md:text-base">
        Desde el Arco de la Victoria hasta sus plazas y museos, Madrid es pura
        energía, historia y sabor. Vive una aventura que combina tradición, arte
        y la alegría española.
      </p>
    </div>
  </div>

  <div class="relative group md:row-start-5">
    <img
      src="/Image/GoodTrip/turkiye.webp"
      alt="alt"
      class="inset-0 object-cover transition-all duration-300 w-96 h-96 rounded-xl"
    />

    <div
      class="absolute bottom-0 left-0 z-10 flex flex-col items-center justify-center w-full h-full gap-2 p-4 m-auto text-center text-white transition-all duration-300 opacity-100 rounded-xl bg-black/60 xl:opacity-0 xl:group-hover:opacity-100"
    >
      <h1 class="text-lg font-bold md:text-xl">Entre Oriente y Occidente</h1>

      <p class="text-sm md:text-base">
        Camina entre cúpulas y bazares, y admira la grandiosa Mezquita Azul.
        Estambul te invita a vivir una aventura única donde se cruzan culturas,
        sabores y siglos de historia.
      </p>
    </div>
  </div>
</div>
