---
import { Image } from "astro:assets";
import dublin from "../../../../public/Image/GoodTrip/dublin.webp";
import japan from "../../../../public/Image/GoodTrip/japan.webp";
import sídney from "../../../../public/Image/GoodTrip/sídney.webp";
import venice from "../../../../public/Image/GoodTrip/venice.webp";
import Date from "../assets/svg/Date";
import Tour from "../assets/svg/Tour";
import Accommodation from "../assets/svg/Accommodation";
---

<div class="flex flex-col items-center justify-center gap-4">
  <h3 class="text-base md:text-lg">Explora el mundo</h3>
  <h1 class="text-xl font-bold md:text-2xl">Destinos que te esperan</h1>

  <div
    class="grid items-start justify-start grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4"
  >
    <div
      class="flex flex-col h-full hover:shadow-xl bg-slate-200 dark:bg-zinc-900 rounded-xl"
    >
      <Image
        src={dublin}
        alt="alt"
        class="w-full h-auto rounded-xl"
        width={800}
        height={800}
      />

      <div class="flex flex-col items-start justify-start gap-4 p-4">
        <div class="flex flex-row justify-between w-full md:flex-col">
          <p class="text-lg font-bold md:text-xl">Dublín, Irlanda</p>
          <p class="text-base md:text-lg">$450 / Persona</p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Date />
          </div>

          <p class="text-base md:text-lg">5 días / 4 noches</p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Tour />
          </div>
          <p class="text-base md:text-lg">
            Tour histórico por los castillos irlandeses
          </p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Tour />
          </div>
          <p class="text-base md:text-lg">
            Visita a la fábrica Guinness y Temple Bar
          </p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Accommodation />
          </div>

          <p class="text-base md:text-lg">
            Alojamiento céntrico con desayuno incluido
          </p>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col h-full hover:shadow-xl bg-slate-200 dark:bg-zinc-900 rounded-xl"
    >

      <Image
        src={japan}
        alt="alt"
        class="w-full h-auto rounded-xl"
        width={800}
        height={800}
      />

      <div class="flex flex-col items-start justify-start gap-4 p-4">
        <div class="flex flex-row justify-between w-full md:flex-col">
          <p class="text-lg font-bold md:text-xl">Kioto, Japón</p>
          <p class="text-base md:text-lg">$890 / Persona</p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Date />
          </div>

          <p class="text-base md:text-lg">7 días / 6 noches</p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Tour />
          </div>
          <p class="text-base md:text-lg">
            Paseo por templos y jardines tradicionales
          </p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Tour />
          </div>
          <p class="text-base md:text-lg">
            Experiencia gastronómica y ceremonia del té
          </p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Accommodation />
          </div>

          <p class="text-base md:text-lg">
            Traslados y guía en español incluidos
          </p>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col h-full hover:shadow-xl bg-slate-200 dark:bg-zinc-900 rounded-xl"
    >

      <Image
        src={sídney}
        alt="alt"
        class="w-full h-auto rounded-xl"
        width={800}
        height={800}
      />

      <div class="flex flex-col items-start justify-start gap-4 p-4">
        <div class="flex flex-row justify-between w-full md:flex-col">
          <p class="text-lg font-bold md:text-xl">Sídney, Australia</p>
          <p class="text-base md:text-lg">$720 / Persona</p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Date />
          </div>

          <p class="text-base md:text-lg">6 días / 5 noches</p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Tour />
          </div>
          <p class="text-base md:text-lg">
            Visita al Opera House y al puerto de Sídney
          </p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Tour />
          </div>
          <p class="text-base md:text-lg">Excursión a las Montañas Azules</p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Accommodation />
          </div>

          <p class="text-base md:text-lg">Alojamiento con vistas al mar</p>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col h-full hover:shadow-xl bg-slate-200 dark:bg-zinc-900 rounded-xl"
    >

      <Image
        src={venice}
        alt="alt"
        class="w-full h-auto rounded-xl"
        width={800}
        height={800}
      />

      <div class="flex flex-col items-start justify-start gap-4 p-4">
        <div class="flex flex-row justify-between w-full md:flex-col">
          <p class="text-lg font-bold md:text-xl">Venecia, Italia</p>
          <p class="text-base md:text-lg">$670 / Persona</p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Date />
          </div>

          <p class="text-base md:text-lg">5 días / 4 noches</p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Tour />
          </div>
          <p class="text-base md:text-lg">Paseo en góndola por los canales</p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Tour />
          </div>
          <p class="text-base md:text-lg">Visita a Murano y Burano</p>
        </div>

        <div class="flex flex-row gap-2">
          <div class="object-contain w-8 h-8">
            <Accommodation />
          </div>

          <p class="text-base md:text-lg">Hotel en el corazón de la ciudad</p>
        </div>
      </div>
    </div>
  </div>
</div>
