---
import { Image } from "astro:assets";
import BackgroundA from "../../../../public/Image/GYM/Background.webp";
---

<div class="relative flex flex-col items-center justify-center overflow-hidden">
 <Image
  src={BackgroundA}
  alt="alt"
  class="absolute inset-0 object-cover object-center w-full h-full"
  width={1920}
  height={1080}
  sizes="100vw"
  widths={[640, 1024, 1600, 1920]}
/>

  <div
    class="absolute bottom-0 left-0 flex flex-col items-center justify-center w-full h-full bg-black/60"
  >
  </div>

  <div
    class="relative flex flex-col items-center justify-center gap-4 px-4 py-20 text-center text-white xl:py-60"
  >
    <h1 class="text-xl font-bold text-yellow-500 md:text-3xl xl:text-5xl">
      GYM
    </h1>

    <h1 class="text-lg md:text-xl xl:text-3xl">
      Tú puedes, nosotros te ayudamos.
    </h1>

    <h1 class="text-xl font-bold md:text-3xl xl:text-5xl max-w-[40rem]">
      El ejercicio no sólo cambia tu cuerpo, cambia tu mente, tu actitud y tu
      estado de ánimo
    </h1>

    <button
      class="w-full p-2 font-bold text-black transition-all duration-700 ease-out bg-yellow-300 rounded-xl max-w-[20rem] hover:bg-yellow-500"
    >
      Registrarse
    </button>
  </div>
</div>
