---
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full m-auto max-w-[100rem]">
  <div class="flex flex-col items-start justify-start gap-4 text-start">
    <h1 class="text-3xl font-bold md:text-5xl">
      Captura el instante que durará para siempre
    </h1>

    <p class="text-base md:text-lg w-full max-w-[40rem]">
      En Flashing creemos que cada momento cuenta. Cuéntanos qué tipo de sesión
      te gustaría realizar y juntos haremos que esa historia cobre vida a través
      de la fotografía.
    </p>
  </div>

  <div class="flex flex-col items-start justify-start gap-4 text-start">
    <input
      class="w-full p-2 text-base bg-transparent border border-zinc-950 dark:border-slate-100"
      type="text"
      placeholder="Tu nombre completo"
    />

    <input
      class="w-full p-2 text-base bg-transparent border border-zinc-950 dark:border-slate-100"
      type="email"
      placeholder="Tu correo electrónico"
    />

    <textarea
      class="w-full h-auto p-2 text-base bg-transparent border border-zinc-950 dark:border-slate-100"
      placeholder="Cuéntanos sobre tu sesión o evento"></textarea>

    <p class="text-base md:text-lg m-auto w-full max-w-[40rem]">
      Responderemos tu mensaje lo antes posible. Nos encanta formar parte de tus
      mejores recuerdos.
    </p>

    <button
      class="p-4 text-base font-bold text-center transition-all duration-700 ease-out bg-orange-400 text-slate-100 hover:bg-orange-600"
    >
      Enviar mensaje
    </button>
  </div>
</div>
