---
import { Image } from "astro:assets";
import Event1 from "../../../../public/Image/Flashing/Event1.webp";
import Event2 from "../../../../public/Image/Flashing/Event2.webp";
import Event3 from "../../../../public/Image/Flashing/Event3.webp";
import Event4 from "../../../../public/Image/Flashing/Event4.webp";
---

<div class="flex flex-col items-center justify-center gap-2 text-center">
  <h3 class="text-lg md:text-xl">Eventos que marcaron tendencia</h3>
  <h1 class="text-xl font-bold md:text-2xl">
    Nuestros proyectos más destacados
  </h1>
  <p class="text-base md:text-lg max-w-[40rem]">
    En Flashing hemos tenido el honor de producir y gestionar eventos que
    reunieron a miles de personas. Cada uno representa una historia, una idea y
    una experiencia que dejó huella.
  </p>

  <div
    class="grid items-center justify-center grid-cols-1 gap-4 mt-4 md:grid-cols-2"
  >
    <div class="grid h-full grid-cols-1 md:grid-cols-2">
      <Image
        src={Event1}
        alt="alt"
        class="object-cover w-full h-full"
        width={800}
        height={800}
      />

      <div
        class="flex flex-col items-center justify-center gap-4 p-4 bg-slate-50 dark:bg-zinc-900"
      >
        <h1 class="text-xl font-bold md:text-2xl">TechWorld 2025</h1>
        <p class="text-base md:text-lg md:max-w-96">
          Una conferencia internacional que reunió a expertos en tecnología,
          innovación y desarrollo web. Más de 5,000 asistentes exploraron el
          futuro de la programación en una experiencia inmersiva y dinámica
        </p>
      </div>
    </div>

    <div class="grid h-full grid-cols-1 md:grid-cols-2">
      <Image
        src={Event2}
        alt="alt"
        class="object-cover w-full h-full"
        width={800}
        height={800}
      />

      <div
        class="flex flex-col items-center justify-center gap-4 p-4 bg-slate-50 dark:bg-zinc-900"
      >
        <h1 class="text-xl font-bold md:text-2xl">FanCon Latinoamérica</h1>
        <p class="text-base md:text-lg md:max-w-96">
          La convención más esperada por los fanáticos del anime, los cómics y
          la cultura pop. Un fin de semana lleno de cosplay, charlas exclusivas
          y encuentros inolvidables con artistas y creadores.
        </p>
      </div>
    </div>

    <div class="grid h-full grid-cols-1 md:grid-cols-2">
      <Image
        src={Event3}
        alt="alt"
        class="object-cover w-full h-full"
        width={800}
        height={800}
      />

      <div
        class="flex flex-col items-center justify-center gap-4 p-4 bg-slate-50 dark:bg-zinc-900"
      >
        <h1 class="text-xl font-bold md:text-2xl">Creators Meet</h1>
        <p class="text-base md:text-lg md:max-w-96">
          Una feria pensada para conectar emprendedores, marcas emergentes y
          nuevos clientes. Un espacio donde nacen ideas, alianzas y proyectos
          que impulsan el crecimiento de la comunidad creativa.
        </p>
      </div>
    </div>

    <div class="grid h-full grid-cols-1 md:grid-cols-2">
      <Image
        src={Event4}
        alt="alt"
        class="object-cover w-full h-full"
        width={800}
        height={800}
      />

      <div
        class="flex flex-col items-center justify-center gap-4 p-4 bg-slate-50 dark:bg-zinc-900"
      >
        <h1 class="text-xl font-bold md:text-2xl">Galaxy Gallery</h1>
        <p class="text-base md:text-lg md:max-w-96">
          Una exposición que fusionó arte y tecnología bajo un mismo cielo.
          Artistas digitales y visuales mostraron su visión del universo a
          través de obras interactivas y experiencias sensoriales únicas.
        </p>
      </div>
    </div>
  </div>
</div>
