---
import HeaderCampingNight from "../layout/HeaderCampingNight.astro";
import Carousel from "../components/ui/Carousel";
import FeatureSection from "../layout/FeatureSection.astro";
import Details from "../layout/Details.astro";
import FooterCampingNight from "../layout/FooterCampingNight.astro";
---

<div
  class="flex flex-col min-h-screen text-zinc-950 dark:text-slate-100 bg-slate-100 dark:bg-zinc-950"
>
  <HeaderCampingNight />

  <main class="flex p-4 pt-20  w-full m-auto max-w-[80rem]">
    <section class="flex flex-col gap-8">
      <div
        class="grid items-center justify-center grid-cols-1 gap-4 md:grid-cols-2"
      >
        <div class="flex flex-col items-center justify-center gap-4">
          <h1 class="text-lg font-bold md:text-xl">
            Descubre la magia de acampar con Camping Night
          </h1>
          <p class="text-base md:text-lg">
            Escapa de la rutina y sumérgete en la tranquilidad de la naturaleza.
            En Camping Night, te ofrecemos un refugio perfecto para
            desconectarte, disfrutar de la aventura y relajarte bajo un cielo
            estrellado. Ya sea que prefieras una fogata acogedora, explorar
            senderos naturales o simplemente contemplar el amanecer desde tu
            tienda, aquí encontrarás el lugar ideal para tu próxima escapada.
          </p>
        </div>

        <img
          src="/Image/CampingNight/img1.webp"
          alt="alt"
          class="object-cover w-full h-full"
        />
      </div>

      <div class="flex flex-col items-center justify-center w-full gap-1">
        <h1 class="text-xl font-bold text-center md:text-2xl">
          Vive la experiencia completa del campamento bajo las estrellas
        </h1>
        <p class="max-w-xl text-base text-center text-black dark:text-orange-400 md:text-lg">
          En Camping Night cada experiencia está pensada para reconectarte con
          la naturaleza, disfrutar momentos auténticos y crear recuerdos que te
          acompañarán siempre.
        </p>
      </div>

      <Carousel client:load />
    </section>
  </main>

  <FeatureSection />

  <section class="flex p-4  pb-36 w-full m-auto max-w-[80rem]">
    <Details />
  </section>
</div>

<FooterCampingNight />
